body {
    margin: 0 25%;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #dddddd;
    background-color:#121212;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    border-bottom: 1px solid;
}

h2 {
    color: #a10c57;
    font-weight: normal;
    margin-bottom: 1px;
}

a {
    color:#a10c57;
    text-decoration:none;
}

a:hover {
    transition: 2s;
    color: #770940;
    text-decoration: underline;
}
